.apps__container {
  display: flex;
  justify-content: space-between;
}

.app__box {
  border: none;
  cursor: move;
}

.app__box.over {
  border: 3px dotted #666;
}

.app__box.moving {
  opacity: 0.4;
}

.app__icon {
  display:block;
  width: 5em;
  height: 5em;
  text-align: center;
  line-height: 5em;
  border-radius: 25px;
  background-color: #f0f0f0;
 
}
