* {
  padding: 0;
}

body {
  font-size: 16px;
  color: #f0f0f0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: #406acc;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}


.hide {
  display: none;
}

.apps__container {
  display: flex;
  justify-content: space-between;
}

.app__box {
  border: none;
  cursor: move;
}

.app__box.over {
  border: 3px dotted #666;
}

.app__box.moving {
  opacity: 0.4;
}

.app__icon {
  display:block;
  width: 5em;
  height: 5em;
  text-align: center;
  line-height: 5em;
  border-radius: 25px;
  background-color: #f0f0f0;
 
}

.nav__link {
  display: block;
  width: 3em;
  height: 1.5em;
  color: #5cbce9;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}

.nav__link, .new__item {
  display: block;
  color: #5cbce9;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #5cbce9;
}

.memo__input {
  width: -webkit-fill-available;
}

.memo__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.memo__item {
  color: #666;
  background-color: #f0f0f0;
  margin: 0.5em 0;
}

.memo__content {
  height: 2.8em;
  overflow: hidden;
}


.detailed {
  display: block;
  height : 100%;
  border: 5px solid #eaee11;
}