/* 메모 */

.memo__input {
  width: -webkit-fill-available;
}

.memo__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.memo__item {
  color: #666;
  background-color: #f0f0f0;
  margin: 0.5em 0;
}

.memo__content {
  height: 2.8em;
  overflow: hidden;
}

.detailed {
  display: block;
  height : 100%;
  border: 3px solid #e09e23;
}